@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 32px;
    color: #5d739a;
}

h2 {
    font-size: 24px;
    color: #6F8183;
}

h3 {
    font-size: 18px;
    color: #736773;
}

p, ul, ol {
    font-size: 16px;
    color: #455673;
    font-family: 'Josefin Slab', sans-serif;
}

a {
    font-size: 18px;
    font-family: 'Josefin Slab', sans-serif;
    text-decoration: none;
    color: #6e5c90;
}

a:hover {
    color: #ad84c6;
    font-weight: bold;
}

a:active {
    color: #ad84c6;


}

img {
    width: 400px;
    height: auto;
}